# Programmare in Python

## Esercizi: Tipi di dati

__1 - Usando le operazioni `modulo (%)` e `divisione intera (//)` verificate numericamente che per qualunque coppia di numeri interi `n,m` vale `n = (n//m)*m + n%m`.__

In [4]:
def dec(n,m):
    n = (n//m)*m + n%m
    return n
dec(2,99)

2

__2 - Usando l' operazione `modulo (%)` costruite una funzione `last_digit(n)` che restituisca l'ultima cifra del numero intero `n`. Esempio: `last_digit(347)` deve restituire `7`.__

In [9]:
def last_digit(n):
    n = n%10
    return n
last_digit(347)

7

__3 - Sia a1 = 173.356035. Calcolate a1 - 173.__

In [10]:
a1 = a1 = 173.356035
print(a1 - 173)

0.35603499999999144

__4 - Sia a = 27387.15467. Calcolate la radice quadrata di a. Moltiplicate il risultato per se stesso.__

In [11]:
a = 27387.15467
b = a**0.5
print(b,b*b)

165.49064828563576 27387.154669999996

__5 - Verificate numericamente che per qualunque `a`, `b`, `c`,`d` reali, 
$(a + i b)\,(c + i d) = a c - b d + i\, (a d + b c)$.__

In [4]:
def compl(a,b,c,d):
    z = a + 1j*b
    w = c + 1j*d
    x = a*c - b*d + 1j*(a*d + b*c)
    return z*w,x
compl(3,2,2,2)

((2+10j), (2+10j))

__6 - Verificate numericamente che per qualunque `a`, `b` reali, 
$1/(a + i b) = (a - i b)/(a^2 + b^2)$.__

In [14]:
1 / (a+1j*b) == (a-1j*b)/((a**2)+(b**2))

True

__7 - Dato un numero intero `N` determinare il numero di cifre che lo compongono.__

In [16]:
def numero_cifre(N):
    N_str = str(N)
    return len(N_str)
numero_cifre(5849)

4

__8 - Dato un numero reale `R` determinare il numero di cifre che compongono la sua parte intera e quella decimale.(Hint: usare le stringhe. Questo metodo funziona solo se il numero reale ha un numero di cifre non superiore a 14$\div$15. Qual'è la ragione?__

In [123]:
def func(n):
    n_str = str(n)
    parte_intera = n_str.index(".") 
    parte_decimale = len(n_str) - 1 - parte_intera
    return parte_intera, parte_decimale
func(451.23333)

(3, 5)

__9 - Generate la lista A dei numeri interi fra 7 e 37.__

In [54]:
a = list(range(8,37))

__10- Generate la lista B dei numeri pari fra 50 e 100, estremi inclusi__

In [57]:
a = list(range(50,101,2))

__11 - Costruite la lista L1 dei numeri pari fra 16 e 42, estremi inclusi. A partire da L1 costruite la lista L2 che contiene gli stessi valori in ordine decrescente.__

In [62]:
a = list(range(16,43,2))
b = sorted(a,reverse=True)
print(b)

[42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16]

__12 - Costruite la lista A dei numeri pari fra 11 e 33. Estraete da A la lista B che contiene gli elementi di indice da 3 a 8.__

In [65]:
a = list(range(11,33,2))
print(a)
a[3:9]

[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]

[17, 19, 21, 23, 25, 27]

__13 - Da "Nel mezzo del cammin di nostra vita mi ritrovai in una selva oscura." estraete la nona parola__

In [76]:
f = "Nel mezzo del cammin di nostra vita mi ritrovai in una selva oscura."
f = f.split()
f[8]

'ritrovai'

__14 - Costruite una funzione che estragga da una stringa in input il primo e il penultimo carattere.
Come ci si può proteggere nel caso in cui la stringa abbia zero o un carattere? (La risposta nella prossima lezione.)__

__Test:__

* Input: "gF20"
* Output: "primo carattere: g, penultimo carattere: 2"

In [82]:
def pri_pen(N):
    primo = N[0]
    penul = N[-2]
    return primo, penul

pri_pen('gF20')

('g', '2')

__15 - Usando le operazione su stringhe costruite una funzione `last_digit_string(n)` che restituisca l'ultima cifra del numero intero `n`. Esempio: `last_digit_string(347)` deve restituire il numero intero `7`.__

In [85]:
def last_digit_string(n):
    n_str = str(n)
    last = n_str[-1]
    return last
last_digit_string(53278)

'8'

__16 - Dato il dizionario:__

In [86]:
capitali = {"Germania":"Berlino","Spagna":"Madrid"}

__aggiungete (usando comandi di Python) Italia e Francia con le rispettive capitali.__

In [93]:
capitali = {"Germania":"Berlino","Spagna":"Madrid"}
capitali["Italia"] = "Roma"
capitali["Francia"] = "Parigi"
capitali

{'Germania': 'Berlino',
 'Spagna': 'Madrid',
 'Italia': 'Roma',
 'Francia': 'Parigi'}

__17 - Generate un dizionario `mesi` che abbia come chiavi i nomi dei mesi e come valori i corripondenti valori numerici. Per esempio Giugno corrisponde a 6.__

In [142]:
n = list(range(1,13))
mesi = ["Gen","Feb","Mar","Apr","Mag","Giu","Lug","Ago","Set","Ott","Nov","Dic"]
mesi_dic = dict(zip(n,mesi))

True

__18 - Senza usare la funzione intrinseca di Python per invertire l'ordine di una lista, costruite la vostra funzione `my_reverse` che prende in input una lista `L` e la restituisce con tutti gli elementi in ordine inverso.__

In [143]:
def my_reverse(l):
    L = l[::-1]
    return L
my_reverse(list(range(1,10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

__19 - Definiamo "parole" come sequenze di caratteri diversi dallo spazio, separate da spazi. Costruite una funzione `last_word(s)` che restituisca l'ultima parola in `s`, cioè la sottostringa che inizia dopo l'ultimo carattere "spazio" in `s`. Se la stringa non contiene spazi, la stringa stessa è l'ultima parola.__

In [98]:
def last_word(s):
    l = s.split()
    w = l[-1]
    return w
last_word("k jf jsdlkfjskdla  jfkdfk afaoe kd")

'kd'

__20 - Costruite una funzione che prenda come input una lista di interi L e un intero n, contenuto nella lista, e restituisca l'indice dell'elemento n in L.__

In [104]:
def func(L,n):
    x = L.index(n)
    return x
func([1,2,3,4],1)

0

__21 - Usando `help(str)` esplorate l'uso del metodo count. Utilizzatelo per trovare quante volte il carattere `a` compare in "Nel mezzo del cammin di nostra vita mi ritrovai in una selva oscura.__

In [106]:
a = "Nel mezzo del cammin di nostra vita mi ritrovai in una selva oscura"
a.count("a")

7

__22 - Dato il dizionario: val = {1:100,2:200,3:300} verificate se nel dizionario è presente la chiave `3` e se è presente il valore `400`.__

In [132]:
val = {1:100,2:200,3:300,4:400}
3 in val
400 in val.values()

True

__23 - Costruite una nuova ntupla `tuple2` estraendo i valori 44 e 55
dalla ntupla tuple1 = (11, 22, 33, 44, 55, 66).__

In [118]:
t1 = (11, 22, 33, 44, 55, 66)
t2 = (t[3],t[4])
t2

(44, 55)